<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Torneio de Tênis</title>
    <style>
        .container {
            display: flex;
            justify-content: space-around; /* Espaçamento uniforme entre as colunas */
            align-items: flex-start; /* Alinha as colunas ao topo */
            padding: 20px; /* Espaçamento ao redor do container */
        }
        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .cell {
            min-width: 100px; /* Largura mínima para manter uma aparência consistente */
            height: auto; /* Altura automática para se ajustar ao conteúdo */
            border: 1px solid black;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px; /* Espaçamento interno para dar espaço ao redor do texto */
            word-wrap: break-word; /* Quebra de texto para evitar overflow */
}
        .cell select {
            width: 100%; /* Largura do dropdown para preencher a célula */
            box-sizing: border-box; /* Inclui padding e borda na largura total */
        }
        h2 {
            margin-bottom: 15px; /* Espaçamento abaixo do título de cada coluna */
        }
        /* Estilos adicionais podem ser adicionados conforme necessário */
    </style>
</head>
<body>
    <div class="container">
        <div class="column">
            <h2>Quarterfinals</h2>
            <!-- Adicionando atributo 'name' aos elementos select -->
            <div class="cell" id="QF1"><select name="QF1"></select></div>
            <div class="cell" id="QF2"><select name="QF2"></select></div>
            <div class="cell" id="QF3"><select name="QF3"></select></div>
            <div class="cell" id="QF4"><select name="QF4"></select></div>
            <div class="cell" id="QF5"><select name="QF5"></select></div>
            <div class="cell" id="QF6"><select name="QF6"></select></div>
            <div class="cell" id="QF7"><select name="QF7"></select></div>
            <div class="cell" id="QF8"><select name="QF8"></select></div>
        </div>
        <div class="column">
            <h2>Semifinal</h2>
            <!-- Adicionando atributo 'name' aos elementos select -->
            <div class="cell" id="SF1"><select name="SF1"></select></div>
            <div class="cell" id="SF2"><select name="SF2"></select></div>
            <div class="cell" id="SF3"><select name="SF4"></select></div>
            <div class="cell" id="SF4"><select name="SF4"></select></div>
        </div>
        <div class="column">
            <h2>Final</h2>
            <!-- Adicionando atributo 'name' aos elementos select -->
            <div class="cell" id="F1"><select name="F1"></select></div>
            <div class="cell" id="F2"><select name="F2"></select></div>
        </div>
        <!-- Coluna do Campeão, se necessário, pode ser adicionada aqui -->
        <div class="column">
            <h2>Champ</h2>
            <div class="cell" id="Champ"><select name="Champ"></select></div>
            <button id="submitPicks">Submit Picks!</button>
        </div>
    </div>

    <script>
                            
        // A função getPlayers() é usada para buscar dados de jogadores de uma API através de uma solicitação HTTP GET para a rota '/players'. 
        // Ela então passa os dados recebidos para a função populateQFSelectors(data), 
        // ou registra um erro no console se a solicitação falhar.
        function getPlayers() {
            fetch('/players')
                .then(response => response.json())
                .then(data => {
                    populateQFSelectors(data); // Chama a função com os dados recebidos
                })
                .catch(error => {
                    console.error('Erro ao buscar jogadores:', error);
                });
        }

        getPlayers(); // Chama getPlayers para iniciar o processo

        // Função para popular os seletores de Quartas de Final
        function populateQFSelectors(players) {
            // Primeiro, os dados dos jogadores são reestruturados em um objeto onde as chaves são os números das quartas de final (qf_number) 
            // e os valores são arrays dos jogadores nessa quartas de final.
            let playersData = players.reduce((acc, player) => {
                if (player.qf_number) {
                    if (!acc[player.qf_number]) acc[player.qf_number] = [];
                    acc[player.qf_number].push(player);
                }
                return acc;
            }, {});

            // Este trecho de código percorre os números de 1 a 8, representando as quartas de final (QF), 
            // e para cada QF, ele seleciona o elemento select correspondente na página HTML para futura manipulação.
            for (let qfNumber = 1; qfNumber <= 8; qfNumber++) {
                const select = document.querySelector(`#QF${qfNumber} select`);

                // Para cada jogador na quartas de final atual, criamos um novo elemento de opção com o nome do jogador, país e ranking (se disponível).
                playersData[qfNumber]?.forEach(player => {
                    const option = document.createElement('option');
                    const rankingText = player.ranking ? ` [${player.ranking}]` : '';
                    const playerText = `${player.name} (${player.country})${rankingText}`;

                    // Definimos o texto e o valor da opção e a adicionamos ao elemento select.
                    option.textContent = playerText;
                    option.value = player.id;
                    select.appendChild(option);
                });
            }
        }

        // Função para popular os seletores de Semifinal
        function populateSFSelectors() {
            // Mapeamento dos QFs para os SFs. Cada chave é um SF e o valor é um array dos QFs correspondentes.
            const qfToSfMapping = {
                'SF1': ['QF1', 'QF2'],
                'SF2': ['QF3', 'QF4'],
                'SF3': ['QF5', 'QF6'],
                'SF4': ['QF7', 'QF8']
            };

            // Itera sobre cada entrada no mapeamento (um array com o SF e os QFs correspondentes)
            Object.entries(qfToSfMapping).forEach(([sf, qfs]) => {
                // Seleciona o elemento select do SF atual
                const sfSelect = document.querySelector(`#${sf} select`);
                sfSelect.innerHTML = ''; // Limpa as opções anteriores

                // Inicializa uma variável para verificar se todos os QFs foram selecionados
                let allQFsSelected = true;

                // Itera sobre cada QF correspondente ao SF atual
                qfs.forEach(qf => {
                    // Seleciona o elemento select do QF atual e obtém o jogador selecionado
                    const qfSelect = document.querySelector(`#${qf} select`);
                    // const selectedPlayer = qfSelect.options[qfSelect.selectedIndex].textContent;
                    const selectedPlayerId = qfSelect.options[qfSelect.selectedIndex].value;

                    // Se um jogador foi selecionado, cria uma nova opção com o nome do jogador e a adiciona ao SF
                    if (selectedPlayer !== '') {
                        const option = document.createElement('option');
                        option.textContent = selectedPlayer;
                        sfSelect.appendChild(option);
                    } else {
                        // Se nenhum jogador foi selecionado, define allQFsSelected como false
                        allQFsSelected = false;
                    }
                });

                // Se todos os QFs foram selecionados, habilita o SF. Caso contrário, desabilita o SF.
                if (allQFsSelected) {
                    sfSelect.disabled = false;
                } else {
                    sfSelect.disabled = true;
                }
            });
        }

        // Adicionando EventListeners aos QF selects
        document.addEventListener('DOMContentLoaded', () => {
            for (let qfNumber = 1; qfNumber <= 8; qfNumber++) {
                const select = document.querySelector(`#QF${qfNumber} select`);
                select.addEventListener('change', populateSFSelectors);
            }
        });

        // A função getPlayers() é usada para buscar dados de jogadores de uma API através de uma solicitação HTTP GET para a rota '/players'. 
        // Ela então passa os dados recebidos para a função populateQFSelectors(data), 
        // ou registra um erro no console se a solicitação falhar.
        function getPlayers() {
            fetch('/players')
                .then(response => response.json())
                .then(data => {
                    populateQFSelectors(data); // Chama a função com os dados recebidos
                })
                .catch(error => {
                    console.error('Erro ao buscar jogadores:', error);
                });
        }

        getPlayers(); // Chama getPlayers para iniciar o processo
                
        // Função para popular os seletores de Semifinal
        function populateSFSelectors() {
            // Mapeamento dos QFs para os SFs
            const qfToSfMapping = {
                'SF1': ['QF1', 'QF2'],
                'SF2': ['QF3', 'QF4'],
                'SF3': ['QF5', 'QF6'],
                'SF4': ['QF7', 'QF8']
            };

            Object.entries(qfToSfMapping).forEach(([sf, qfs]) => {
                const sfSelect = document.querySelector(`#${sf} select`);
                sfSelect.innerHTML = ''; // Limpar opções anteriores

                let allQFsSelected = true; // Variável para verificar se todos os QFs foram selecionados

                qfs.forEach(qf => {
                    const qfSelect = document.querySelector(`#${qf} select`);
                    const selectedPlayer = qfSelect.options[qfSelect.selectedIndex].textContent;

                    if (selectedPlayer !== '') {
                        const option = document.createElement('option');
                        option.textContent = selectedPlayer;
                        sfSelect.appendChild(option);
                    } else {
                        allQFsSelected = false; // Se algum QF não foi selecionado, definir a variável como false
                    }
                });

                if (!allQFsSelected) {
                    sfSelect.selectedIndex = 0; // Limpar a seleção do SF se nem todos os QFs foram selecionados
                }
            });
            console.log('SF selectors populated'); // Mensagem de depuração
            populateFSelectors(); // Chamar a função para atualizar os seletores de Final
        }


        // Função para popular os seletores de Final
        function populateFSelectors() {
            // Mapeamento dos SFs para os Fs
            const sfToFMapping = {
                'F1': ['SF1', 'SF2'],
                'F2': ['SF3', 'SF4']
            };

            Object.entries(sfToFMapping).forEach(([f, sfs]) => {
                const fSelect = document.querySelector(`#${f} select`);
                fSelect.innerHTML = ''; // Limpar opções anteriores

                let allSFsSelected = true; // Variável para verificar se todos os SFs foram selecionados

                sfs.forEach(sf => {
                    const sfSelect = document.querySelector(`#${sf} select`);
                    const selectedPlayer = sfSelect.options[sfSelect.selectedIndex].textContent;

                    if (selectedPlayer !== '') {
                        const option = document.createElement('option');
                        option.textContent = selectedPlayer;
                        fSelect.appendChild(option);
                    } else {
                        allSFsSelected = false; // Se algum SF não foi selecionado, definir a variável como false
                    }
                });

                if (!allSFsSelected) {
                    fSelect.selectedIndex = 0; // Limpar a seleção do F se nem todos os SFs foram selecionados
                }
            });
            console.log('F selectors populated'); // Mensagem de depuração
            populateChampionSelector(); // Chamar a função para atualizar o seletor de Campeão
        }

        // Adicionando EventListeners aos SF selects
        for (let sfNumber = 1; sfNumber <= 4; sfNumber++) {
            const select = document.querySelector(`#SF${sfNumber} select`);
            if (select) {
                select.addEventListener('change', populateFSelectors);
                console.log(`EventListener added to SF${sfNumber}`); // Mensagem de depuração
            } else {
                console.log(`SF${sfNumber} select not found`); // Mensagem de erro se o select não for encontrado
            }
        }

        // Função para popular o seletor do Campeão
        function populateChampionSelector() {
            const champSelect = document.querySelector('#Champ select');
            champSelect.innerHTML = ''; // Limpar opções anteriores

            let allFsSelected = true; // Variável para verificar se todos os Fs foram selecionados

            const f1Select = document.querySelector('#F1 select');
            const f2Select = document.querySelector('#F2 select');
            
            [f1Select, f2Select].forEach(select => {
                const selectedPlayer = select.options[select.selectedIndex].textContent;

                if (selectedPlayer !== '') {
                    const option = document.createElement('option');
                    option.textContent = selectedPlayer;
                    champSelect.appendChild(option);
                } else {
                    allFsSelected = false; // Se algum F não foi selecionado, definir a variável como false
                }
            });

            if (!allFsSelected) {
                champSelect.selectedIndex = 0; // Limpar a seleção do Campeão se nem todos os Fs foram selecionados
            }
        }

        // Adicionando EventListeners aos F selects
        ['F1', 'F2'].forEach(fId => {
            const select = document.querySelector(`#${fId} select`);
            if (select) {
                select.addEventListener('change', populateChampionSelector);
            }
        });

        // Função para popular o seletor do Campeão
        function populateChampionSelector() {
            const champSelect = document.querySelector('#Champ select');
            champSelect.innerHTML = ''; // Limpar opções anteriores

            const f1Select = document.querySelector('#F1 select');
            const f2Select = document.querySelector('#F2 select');

            [f1Select, f2Select].forEach(select => {
                const selectedPlayerId = select.value;
                if (selectedPlayerId) {
                    const selectedOption = select.options[select.selectedIndex];
                    const option = new Option(selectedOption.text, selectedOption.value);
                    champSelect.appendChild(option);
                }
            });

            if (champSelect.options.length === 0) {
                // Adicionar uma opção padrão se nenhum jogador for selecionado
                champSelect.appendChild(new Option('Selecione os jogadores das Finais', ''));
            }
        }

// Adicionando EventListeners aos seletores de Final para atualizar o Campeão
document.addEventListener('DOMContentLoaded', () => {
    ['F1', 'F2'].forEach(fId => {
        const select = document.querySelector(`#${fId} select`);
        select.addEventListener('change', populateChampionSelector);
    });

    // Código existente para inicializar QFs, SFs...
});


    </script>

    <script>
        // Adicionando EventListener ao botão de envio
        document.getElementById('submitPicks').addEventListener('click', function() {
            let torneio = {
                quartasFinal: {},
                semiFinal: {},
                final: {},
                campeao: {}
            };

            // Quartas de Final
            for (let i = 1; i <= 8; i++) {
                let select = document.querySelector(`#QF${i} select`);
                torneio.quartasFinal[`QF${i}`] = select ? select.options[select.selectedIndex].value : null;
            }

            // Semifinais
            for (let i = 1; i <= 4; i++) {
                let select = document.querySelector(`#SF${i} select`);
                torneio.semiFinal[`SF${i}`] = select ? select.options[select.selectedIndex].value : null;
            }

            // Final
            for (let i = 1; i <= 2; i++) {
                let select = document.querySelector(`#F${i} select`);
                torneio.final[`F${i}`] = select ? select.options[select.selectedIndex].value : null;
            }

            // Campeão
            let champSelect = document.querySelector('#Champ select');
            torneio.campeao = champSelect ? champSelect.options[champSelect.selectedIndex].value : null;

            // Convertendo o objeto para JSON
            let json = JSON.stringify(torneio);

            console.log('JSON enviado:', json); // Exibe o JSON no console

            // Enviando o JSON para o servidor
            fetch('/submit_picks', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: json
            }).then(response => {
                if (response.ok) {
                    console.log("Palpites enviados com sucesso!");
                    return response.json();
                } else {
                    throw new Error('Falha ao enviar palpites');
                }
            }).then(data => {
                console.log('Resposta do servidor:', data);
            }).catch(error => {
                console.error('Erro ao enviar:', error);
            });
        });

    </script>
</body>
</html>
