<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Torneio de Tênis</title>
    <style>
        .container {
            display: flex;
            justify-content: space-around; /* Espaçamento uniforme entre as colunas */
            align-items: flex-start; /* Alinha as colunas ao topo */
            padding: 20px; /* Espaçamento ao redor do container */
        }
        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .cell {
            min-width: 100px; /* Largura mínima para manter uma aparência consistente */
            height: auto; /* Altura automática para se ajustar ao conteúdo */
            border: 1px solid black;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px; /* Espaçamento interno para dar espaço ao redor do texto */
            word-wrap: break-word; /* Quebra de texto para evitar overflow */
}
        .cell select {
            width: 100%; /* Largura do dropdown para preencher a célula */
            box-sizing: border-box; /* Inclui padding e borda na largura total */
        }
        h2 {
            margin-bottom: 15px; /* Espaçamento abaixo do título de cada coluna */
        }
        /* Estilos adicionais podem ser adicionados conforme necessário */
    </style>
</head>
<body>
    <div class="container">
        <div class="column">
            <h2>Quarterfinals</h2>
            <!-- Adicionando atributo 'name' aos elementos select -->
            <div class="cell" id="QF1"><select name="QF1"></select></div>
            <div class="cell" id="QF2"><select name="QF2"></select></div>
            <div class="cell" id="QF3"><select name="QF3"></select></div>
            <div class="cell" id="QF4"><select name="QF4"></select></div>
            <div class="cell" id="QF5"><select name="QF5"></select></div>
            <div class="cell" id="QF6"><select name="QF6"></select></div>
            <div class="cell" id="QF7"><select name="QF7"></select></div>
            <div class="cell" id="QF8"><select name="QF8"></select></div>
        </div>
        <div class="column">
            <h2>Semifinal</h2>
            <!-- Adicionando atributo 'name' aos elementos select -->
            <div class="cell" id="SF1"><select name="SF1"></select></div>
            <div class="cell" id="SF2"><select name="SF2"></select></div>
            <div class="cell" id="SF3"><select name="SF3"></select></div>
            <div class="cell" id="SF4"><select name="SF4"></select></div>
        </div>
        <div class="column">
            <h2>Final</h2>
            <!-- Adicionando atributo 'name' aos elementos select -->
            <div class="cell" id="F1"><select name="F1"></select></div>
            <div class="cell" id="F2"><select name="F2"></select></div>
        </div>
        <!-- Coluna do Campeão, se necessário, pode ser adicionada aqui -->
        <div class="column">
            <h2>Champ</h2>
            <div class="cell" id="Champ"><select name="Champ"></select></div>
            <button id="submitPicks">Submit Picks!</button>
        </div>
    </div>

    <script>                          
        // Função para buscar os jogadores
        function getPlayers() {
            fetch('/players')
                .then(response => response.json())
                .then(data => {
                    populateQFSelectors(data); // Chama a função com os dados recebidos
                })
                .catch(error => {
                    console.error('Erro ao buscar jogadores:', error);
                });
        }

        getPlayers(); // Chama getPlayers para iniciar o processo

        // Função para popular os seletores de Quartas de Final
        function populateQFSelectors(players) {
            // Este trecho de código percorre os jogadores e os organiza em um objeto com base no número da quartas de final (qf_number).
            let playersData = players.reduce((acc, player) => {
                if (player.qf_number) {
                    if (!acc[player.qf_number]) acc[player.qf_number] = [];
                    acc[player.qf_number].push(player);
                }
                return acc;
            }, {});

            // Este trecho de código percorre os seletores de quartas de final e adiciona as opções de jogadores a cada um.
            for (let qfNumber = 1; qfNumber <= 8; qfNumber++) {
                const select = document.querySelector(`#QF${qfNumber} select`);

                // Para cada jogador na quartas de final atual, criamos um novo elemento de opção com o nome do jogador, país e ranking (se disponível).
                playersData[qfNumber]?.forEach(player => {
                    const option = document.createElement('option');
                    const rankingText = player.ranking ? ` [${player.ranking}]` : '';
                    const playerText = `${player.name} (${player.country})${rankingText}`;

                    // Definimos o texto e o valor da opção e a adicionamos ao elemento select.
                    option.textContent = playerText;
                    option.value = player.id;
                    select.appendChild(option);
                });
            }
        }

        // Função para limpar os seletores de SF, F e Campeão
        function clearSelectors() {
            // Limpar SFs
            for (let sfNumber = 1; sfNumber <= 4; sfNumber++) {
                const sfSelect = document.querySelector(`#SF${sfNumber} select`);
                sfSelect.innerHTML = '';
                sfSelect.appendChild(new Option('Selecione os jogadores dos QFs', ''));
            }

            // Limpar Fs
            ['F1', 'F2'].forEach(fId => {
                const fSelect = document.querySelector(`#${fId} select`);
                fSelect.innerHTML = '';
                fSelect.appendChild(new Option('Selecione os jogadores das SFs', ''));
            });

            // Limpar Campeão
            const champSelect = document.querySelector('#Champ select');
            champSelect.innerHTML = '';
            champSelect.appendChild(new Option('Selecione os jogadores das Finais', ''));
        }

        // Função para lidar com a mudança nos seletores de QF
        function handleQFChange() {
            updateSFSelectors();
            clearSelectors();
        }

        // Adicionando EventListeners aos seletores de QF
        document.addEventListener('DOMContentLoaded', () => {
            for (let qfNumber = 1; qfNumber <= 8; qfNumber++) {
                const qfSelect = document.querySelector(`#QF${qfNumber} select`);
                qfSelect.addEventListener('change', handleQFChange);
            }
            getPlayers();
        });

        // Mapeamento dos QFs para os SFs
            const qfToSfMapping = {
            'SF1': ['QF1', 'QF2'],
            'SF2': ['QF3', 'QF4'],
            'SF3': ['QF5', 'QF6'],
            'SF4': ['QF7', 'QF8']
        };

        // Função para atualizar os seletores de SF com base nas seleções de QF
        function updateSFSelectors() {
            Object.entries(qfToSfMapping).forEach(([sf, qfs]) => {
                const sfSelect = document.querySelector(`#${sf} select`);
                sfSelect.innerHTML = ''; // Limpar opções anteriores

                let optionsAdded = false;

                qfs.forEach(qf => {
                    const qfSelect = document.querySelector(`#${qf} select`);
                    const selectedPlayerId = qfSelect.value;

                    if (selectedPlayerId) {
                        // Adicionando opção com base no jogador selecionado em QF
                        const selectedOption = qfSelect.options[qfSelect.selectedIndex];
                        const option = new Option(selectedOption.text, selectedOption.value);
                        sfSelect.appendChild(option);
                        optionsAdded = true;
                    }
                });

                if (!optionsAdded) {
                    // Adicionar uma opção padrão se nenhum jogador for selecionado
                    sfSelect.appendChild(new Option('Selecione os jogadores dos QFs', ''));
                }
            });
        }

        // Adicionando EventListeners aos seletores de QF para atualizar os SFs
        document.addEventListener('DOMContentLoaded', () => {
            for (let qfNumber = 1; qfNumber <= 8; qfNumber++) {
                const qfSelect = document.querySelector(`#QF${qfNumber} select`);
                qfSelect.addEventListener('change', updateSFSelectors);
            }

            // Inicializar os dados dos jogadores nas QFs (exemplo: getPlayers() ou código similar)
            // getPlayers();
        });

        
        // Função para popular os seletores de Final
        function populateFSelectors() {
            const sfToFMapping = {
                'F1': ['SF1', 'SF2'],
                'F2': ['SF3', 'SF4']
            };

            Object.entries(sfToFMapping).forEach(([f, sfs]) => {
                const fSelect = document.querySelector(`#${f} select`);
                fSelect.innerHTML = ''; // Limpar opções anteriores

                sfs.forEach(sf => {
                    const sfSelect = document.querySelector(`#${sf} select`);
                    const selectedPlayerId = sfSelect.value;

                    if (selectedPlayerId) {
                        const selectedOption = sfSelect.options[sfSelect.selectedIndex];
                        const option = new Option(selectedOption.text, selectedOption.value);
                        fSelect.appendChild(option);
                    }
                });

                if (fSelect.options.length === 0) {
                    // Adicionar uma opção padrão se nenhum jogador for selecionado
                    fSelect.appendChild(new Option('Selecione os jogadores das SFs', ''));
                }
            });
        }

        // Adicionando EventListeners aos seletores de SF para atualizar os Fs
        document.addEventListener('DOMContentLoaded', () => {
            for (let sfNumber = 1; sfNumber <= 4; sfNumber++) {
                const sfSelect = document.querySelector(`#SF${sfNumber} select`);
                sfSelect.addEventListener('change', populateFSelectors);
            }

        });

        // Função para popular o seletor do Campeão
        // Função para popular o seletor do Campeão
        function populateChampionSelector() {
            const champSelect = document.querySelector('#Champ select');
            champSelect.innerHTML = ''; // Limpar opções anteriores

            const f1Select = document.querySelector('#F1 select');
            const f2Select = document.querySelector('#F2 select');

            [f1Select, f2Select].forEach(select => {
                const selectedPlayerId = select.value;
                if (selectedPlayerId) {
                    const selectedOption = select.options[select.selectedIndex];
                    const option = new Option(selectedOption.text, selectedOption.value);
                    champSelect.appendChild(option);
                }
            });

            if (champSelect.options.length === 0) {
                // Adicionar uma opção padrão se nenhum jogador for selecionado
                champSelect.appendChild(new Option('Selecione os jogadores das Finais', ''));
            }
        }


        // Adicionando EventListeners aos seletores de Final para atualizar o Campeão
        document.addEventListener('DOMContentLoaded', () => {
            ['F1', 'F2'].forEach(fId => {
                const select = document.querySelector(`#${fId} select`);
                select.addEventListener('change', populateChampionSelector);
            });
        });


        // Adicionando EventListeners aos seletores de Final para atualizar o Campeão
        document.addEventListener('DOMContentLoaded', () => {
            ['F1', 'F2'].forEach(fId => {
                const select = document.querySelector(`#${fId} select`);
                select.addEventListener('change', populateChampionSelector);
            });

        });

    </script>

    <script>
        document.getElementById('submitPicks').addEventListener('click', function() {
            console.log('Botão clicado'); // Confirmação do clique

            let torneio = {
                quartasFinal: {},
                semiFinal: {},
                final: {},
                campeao: null
            };

            // Captura dos dados das Quartas de Final
            for (let i = 1; i <= 8; i++) {
                let select = document.querySelector(`#QF${i} select`);
                torneio.quartasFinal[`QF${i}`] = select ? select.options[select.selectedIndex].value : null;
            }

            // Captura dos dados das Semifinais
            for (let i = 1; i <= 4; i++) {
                let select = document.querySelector(`#SF${i} select`);
                torneio.semiFinal[`SF${i}`] = select ? select.options[select.selectedIndex].value : null;
            }

            // Captura dos dados das Finais
            for (let i = 1; i <= 2; i++) {
                let select = document.querySelector(`#F${i} select`);
                torneio.final[`F${i}`] = select ? select.options[select.selectedIndex].value : null;
            }

            // Captura do Campeão
            let champSelect = document.querySelector('#Champ select');
            torneio.campeao = champSelect ? champSelect.options[champSelect.selectedIndex].value : null;

            // Verifica o objeto torneio antes da conversão
            console.log('Objeto torneio:', torneio);

            // Convertendo para JSON
            let json = JSON.stringify(torneio);
            console.log('JSON enviado:', json);

            // Enviando o JSON para o servidor
            fetch('/submit_picks', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: json
            }).then(response => {
                if (response.ok) {
                    console.log("Palpites enviados com sucesso!");
                    return response.json();
                } else {
                    throw new Error('Falha ao enviar palpites');
                }
            }).then(data => {
                console.log('Resposta do servidor:', data);
            }).catch(error => {
                console.error('Erro ao enviar:', error);
            });
        });
    </script>


</body>
</html>
